// based on a codepen example by Nick Salloum:
// https://codepen.io/callmenick/pen/ZWMOEE


$colors: (
  magenta: (#ff00ff, #faaefc),
  purple: (#9500ff, #d994fd),
  blue: (#35a9f5, #aff5fd),
  green: (#8cc63f, #c5fbaa),
  yellow: (#fcee21, #fcffb0),
  orange: (#ff931e, #f4d978),
  red: (#ff0000, #ff7c84)
);

@mixin styling($content-width) {

  $u: $content-width / 37; // base unit used to calculate all other values
  $o: 6 * $u; // empty space in center of rainbow
  $t: 1 * $u; // stripe width main color
  $tl: .3 * $u; // stripe width accent color
  $s: .5 * $u; // space between wider sripes
  $w: ($o + $t*7 + $s*7) * 2; // width: 33 * $u;
  $h: $w/2; // height: 16.5 * $u;
  $g: 2 * $u; // glow offset

  .dblWrap {
    margin: auto;
    width: $w + ($g * 2);
    height: $h;
  }

  .Rainbow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    width: $w + ($g * 2);
    height: $h;
  }

  .Glow-containers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: $w + ($g * 2);
    height: $h;
  }

  .Raster-rainbow-start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    margin: auto;
    width: $w + ($g * 2);
    height: $h + $g;
    animation: emerge .8s linear forwards;
    animation-delay: 2000s;
  }

  // .hide {
  //   animation: hide .8s linear forwards;
  //   animation-delay: 2000s;
  // }

  .raster-img {
    max-width: 100%;
  }

  .Rainbow-stripe {
    position: absolute;
    right: $g;
    left: $g;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    transform: rotate(-180deg);
    animation: rainbow 1000ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }

  .Glow-container {
    position: absolute;
    right: $g;
    left: $g;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
  }

  .Glow-container--start {
    position: absolute;
    right: $g;
    left: $g;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    transform: rotate(-80deg) !important;
  }

  $i: 1;

  @each $key, $value in $colors {
    $r: (($t + $s) * $i) + $o; // radius of main stripe (red: 10.5 + 6 = 16.5 * $u)
    $rl: (($t + $s) * $i) - .4 * $u + $o; // radius of accent stripe (red-light: 16.1 * $u)
    $rotate: -70;

    @if $i == 7 {
      $rotate: -80.5;
    } @else if $i == 6 {
      $rotate: -79.5;
    } @else if $i == 5 {
      $rotate: -78.5;
    } @else if $i == 4 {
      $rotate: -77;
    } @else if $i == 3 {
      $rotate: -75.5;
    } @else if $i == 2 {
      $rotate: -73.5;
    } @else {
      $rotate: -70;
    }

    $endrotate: $rotate * -1;

    .Rainbow-stripe--#{$key} {
      top: $h - $r + $g; // red: 0 * $u
      width: $r*2;
      height: $r*2;
      box-shadow: inset 0 0 0 $t nth($value, 1);
      clip-path: polygon(0 0, $r*2 0, $r*2 $r, 0 $r, 0 0);
      animation-delay: ($i - 1) * 100ms;
    }

    .Glow-container--#{$key} {
      top: $h - $r + $g; // red: 0 * $u
      width: $r*2;
      height: $r*2;
      animation-delay: ($i - 1) * 100ms;
      transform: rotate(#{$rotate}deg);
      animation: glow-end--#{$key} 1000ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }

    .Glow-start--#{$key} {
      background: nth($value, 1);
      height: $t * 1.02;
      left: 51%;
      position: absolute;
      top: 0;
      transform-origin: 0% 0%;
      width: $t * 1.02;
      border-radius: $t;
      z-index: -1;
      animation: none !important;
    }

    .Glow-end--#{$key} {
      animation-delay: ($i - 1) * 100ms;
      background: nth($value, 1);
      height: $t * 1.02;
      left: 51%;
      position: absolute;
      top: 0;
      transform-origin: 0% 0%;
      width: $t * 1.02;
      // box-shadow: 0px 0px 12px 5px nth($value, 2);
      border-radius: $t;
      z-index: -1;
    }

    .Background-glow--#{$key} {
      position: absolute;
      right: 0;
      left: 0;
      top: $h - $r + $g;
      width: $r * 2;
      height: $r * 2;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 100%;
      box-shadow: 0 0 8px 8px nth($value, 1), 0 0 16px 16px nth($value, 2);
      transition: box-shadow (($i - 1) * 200ms) ease-in-out;
    }

    .Rainbow-stripe--#{$key}-light {
      top: $h - $rl + $g; // red-light: -4 * $u;
      width: $rl*2;
      height: $rl*2;
      box-shadow: inset 0 0 0 $tl nth($value, 2);
      clip-path: polygon(0 0, $rl*2 0, $rl*2 $rl, 0 $rl, 0 0);
      animation-delay: ($i - 1) * 100ms;
      z-index: 2;
    }

    @keyframes glow-end--#{$key} {
      0% {
        transform: rotate(#{$rotate}deg);
      }
      100% {
        transform: rotate(#{$endrotate}deg);
      }
}

    $i: $i + 1;
  }
}

@media screen and (max-width: 599px) {
    @include styling($content-width: 87.5vw);
}
@media screen and (min-width: 600px) {
    @include styling($content-width: 80vw);
}
@media screen and (min-width: 750px) {
    @include styling($content-width: 600px);
}

.long-screen {
  display: none;
}

.heroButton {
    margin-top: 50px !important;
}

@media screen and (min-height: 730px) and (max-width: 420px) {
  .long-screen {
    display: block;
  }
  .heroButton {
    margin-top: -20px !important;
 }
}

@media screen and (min-height: 1020px) {
  .long-screen {
    display: block;
  }
  .heroButton {
    margin-top: -20px !important;
  }
}

@media screen and (min-height: 1200px) {
  .heroButton {
    margin-top: 50px !important;
    font-size: 1.5em !important;
    padding: 1em 2em !important;
  }
}

@keyframes rainbow {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes glow-end {
  0% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

@keyframes emerge {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}